body{
    font: "Open Sans", sans-serif;
    background-color: black;
    color: white;
}

input, button{
    background-color: black;
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
}

input:hover, button:hover{
    background-color: white;
    color:black;
}

table{
    width: 40%;
    align-items: center;
}

tr, td{
    text-align: center;
    width: 50%;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0.2em;
}

main{
    position: relative;
    top: 50px;
}